hr-onboarding-engine/workflows/03_notify_subworkflow.json
{
  "name": "03 - HR Onboarding - Notify Sub-workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "773920d6-a19b-40ce-ae23-97e29047d443",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-channel",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "slack",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a5ddeb09-dfa4-4eaa-8c5d-083859175deb",
      "name": "If Channel Is Slack",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        280
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.to }}",
          "mode": "id"
        },
        "text": "={{ `*${$json.subject}*\\n${$json.body}` }}",
        "otherOptions": {}
      },
      "id": "20f7c913-9a51-4854-be55-725fa2474a8e",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        240,
        180
      ],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "Slack - HR Onboarding"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "f2448d0a-9e81-4d9e-8fa4-bc06a56cbf30",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        240,
        380
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "Gmail - HR Onboarding"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "content": "## Reusable Notify Sub-workflow\nInput contract: { channel: 'email'|'slack', to, subject, body }. يُستدعى عبر Execute Workflow node من أي workflow آخر (مثل معالج الأخطاء في 01_main_onboarding). channel='slack' يحتاج Slack credential مُعد مسبقًا (اختياري إن لم تستخدمه)، channel='email' يستخدم Gmail. هذا يجعل التنبيهات module واحد قابل لإعادة الاستخدام بدل تكرار منطق الإرسال في كل workflow.",
        "height": 220,
        "width": 700,
        "color": 7
      },
      "id": "f3ed74f8-fdbc-4bed-858e-1cf487de5f1c",
      "name": "Sticky Note f3ed74f8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -140
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If Channel Is Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Channel Is Slack": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}